.star-rating { 
    display: flex ;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}

.star-rating svg {
    padding: 1px;
}

.active {
    color: #ffcc00;
}

.inactive {
    color: #ccc;
}

